
body {
    background-color: rgb(251, 255, 235);
    background-image: image();
    padding: 0; 
    margin: 0;
  }
  
  h1 {
    font-family: LEMON MILK Regular;
    color: #cfc5a9;
    text-align: center;
    font-size: 70px;
  }
  
  p {
    font-family: 'Courier Nw', Courier, monospace;
    font-size: 35px;
    text-align: center;
  }
  .portrait {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    width: 100%;
  }