
body {
    background-color: rgb(251, 255, 235);
    padding: 0; 
    margin: 0;
  }
  
  h1 {
    font-family: LEMON MILK Regular;
    color: #cfc5a9;
    text-align: center;
    font-size: 70px;
  }
  
  p {
    font-family: 'Courier Nw', Courier, monospace;
    font-size: 35px;
    text-align: center;
  }
  .portrait {
    position: absolute;
    margin-left: 0px;
    margin-right:0px;
    margin-top: 0px;
    width: 100%;
    color: white;
  }
  .header {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Roboto, bold;
    color: #cfc5a9;
    font-size: 70px;
  }