
body {
    background-color: rgb(255, 255, 255);
  }
  
  h1 {
    font-family: 'Agency FB';
    color: rgb(255, 220, 144);
    text-align: center;
  }
  
  p {
    font-family: 'Courier Nw', Courier, monospace;
    font-size: 35px;
  }